:root {
    --color-bg:             #111110;
    --color-border:         #2c2c2a;
    --color-text:           #888780;
    --color-text-active:    #f1efe8;

    --font: 'Inter', system-ui, sans-serif;
}

/* ── Light mode ── */
body.light {
    --color-bg:          #f1efe8;
    --color-border:      #d3d1c7;
    --color-text:        #888780;
    --color-text-active: #111110;
}

